<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LoginPage</title>

</head>
<div class="center">
	<h1>Login</h1>
	<form action="CheckLogin" method="post">
		<div>
			<input type="text" name="username" required> <label>Username</label>
		</div>
		<div>
			<input type="password" name="password" required> <label>Password</label>
		</div>

		<div>
			<p th:class="error" th:if="${error}" th:text="${error}"></p>
		</div>

		<input type="submit" value="Login">

	</form>
	<div><a href="signupPage.html">Crea Un Nuovo Account</a>
	</div>
	


</div>
<body>
</body>
</html>
