<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LoginPage</title>
<link rel="stylesheet" href="loginstyle.css">
</head>
<div class="center">
	<h1>Login</h1>
	<form action="CheckLogin" method="post">
		<div class="txt_field">
			<input type="text" name="username" required> <label>Username</label>
		</div>
		<div class="txt_field">
			<input type="password" name="password" required> <label>Password</label>
		</div>

		<div th:if="${error}">
			<p th:text="${errorMessage}"></p>
		</div>

		<input type="submit" value="Login">

	</form>

</div>
<body>
</body>
</html>
