h1 {
  font-family: Geneva, Verdana, sans-serif;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  text-align: center;
  background-color: #F1E9D9;
}

form {
  background-color: #E8DCCA;
  position: fixed;
}

.createSongField {
  border: 2px solid #000000;
  padding: 20px;
}

.playlistTable {
  border: 2px solid #000000;
  padding: 20px;
}

.createPlaylistField {
  border: 2px solid #000000;
  padding: 20px;
}
