<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>PlayList page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="CSS/style.css" th:href="@{/CSS/style.css}" />
</head>

<body>
	<h2>
		PlayList <span th:text="${playlist.title}">playlist</span>
	</h2>
	<br>

	<div th:if="${#lists.isEmpty(songsPerBlock)}">
		<div th:if="(${block} == 0)">
			<!--  playlist empty -->
			This playList doesn't have songs yet
		</div>
		<div th:if="(${block} > 0)">
			<!-- block empty but previous one has songs -->
			No More Songs
		</div>
	</div>
	<div th:if="${not #lists.isEmpty(songsPerBlock)}">
		<table class=songsTable>
			<tbody>
				<tr>
					<td th:each="s : ${songsPerBlock}">
						<table class=simpleTable>
							<tbody>
								
								<tr>
									<td><a
										th:href="@{GoToPlayerPage(songId=${s.getIDSong()} , playlistId=${playlist.getIdPlaylist()} , block=${block})}">
											<span th:text="${s.getTitle()}">fileAudio</span>
									</a></td>
								</tr>
								<tr>
									<td><img
										th:src="@{GetImagePath/{image}(image = ${s.getImage()})}" >immagine</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:class="before" th:if="(${previous} == true)">
			<a th:class="before"
				th:href="@{GoToPlaylistPage(playlistId=${playlist.getIdPlaylist()} , block=(${block} - 1))}">Before</a>
		</div>
		<div class="next" th:if="(${next} == true)">
			<a th:class="a_next"
				th:href="@{GoToPlaylistPage(playlistId=${playlist.getIdPlaylist()} , block=(${block} + 1))}">Next</a>
		</div>

	</div>
	<p th:class="error" th:text="${errorFromGoToPlayer}"></p>
	<br>
	<br>

	<div th:if="${#lists.isEmpty(songsNotInPlaylist)}">All songs
		already in this playList</div>
	<div th:if="${not #lists.isEmpty(songsNotInPlaylist)}">
		<fieldset>
			Add a song to this playList
			<form th:action="@{/AddSong(playlistId=${playlist.getIdPlaylist()})}"
				method="POST">
				<select id="song" name="song">
					<option th:each="s : ${songsNotInPlaylist}" th:value="${s.getIDSong()}"
						th:text="${s.getTitle()}">song</option>
				</select>
				<p>
					<input type="submit" value="submit">
				</p>
			</form>
		</fieldset>
	</div>
	<p th:class="error" th:text="${errorFromAddSong}"></p>

	<br>
	<br>
	<br>

	<div>
		<a th:href="@{GoToHomepage}">Home page</a>
	</div>

	<br>
	<br>
	<div>
		<a th:href="@{Logout}">Logout</a>
	</div>

</body>

</html>





